<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.home.task"
    tools:ignore="ExtraText">

    <supports-screens
        android:anyDensity="true"
        android:compatibleWidthLimitDp="1000"
        android:largeScreens="true"
        android:largestWidthLimitDp="2000"
        android:normalScreens="true"
        android:requiresSmallestWidthDp="250"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />


    />
    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="GoogleAppIndexingWarning">


        <activity
            android:name=".activitys.MainActivity"
            android:configChanges="keyboard|orientation|keyboardHidden|locale|smallestScreenSize|screenSize|screenLayout|colorMode|
density|fontScale|layoutDirection|navigation|touchscreen|mcc|mnc|uiMode"

            android:supportsPictureInPicture="true"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>